{% extends 'USER/base.html' %}
{% load static %}
{% block meta_description %}Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/{% endblock %}
{% block title %} Register Page {% endblock %}

{% block content %}
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!-- <p>See more Details</p> -->
						<h1>Register Here</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->


	<h2 style="position: relative; left: 500px;"> {{warning}}  </h2>
	<!--================Registration Box Area =================-->
    <section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src=" {% static 'img/login.jpg' %} " alt="">
						<div class="hover">
							<h4>Want to Login</h4>
							<!-- <p>There are advances being made in science and technology everyday, and a good example of this is the</p> -->
							<a class="primary-btn" href=" {%  url 'Login' %} " style="background-color:#F28123;" >Login</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Register Here</h3>
						<form class="row login_form"  method="POST" id="contactForm" novalidate="novalidate">
							{% csrf_token%}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="email" placeholder="Email-Id" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email-Id'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="cpassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
							<!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div> -->
							<div class="col-md-12 form-group" >
								<button type="submit" value="submit" class="primary-btn" style="background-color: #F28123;"  >Register</button>
								<!-- <a href="#">Forgot Password?</a> -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Registration Box Area =================-->

{% endblock %}